.welcome_heading {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 60px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#welcome_heading_home {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#welcome_heading_product_detail {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#welcome_heading_about_page {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#welcome_heading_products_page {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.product_title_text {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.product_name {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: purple;
    text-transform: smallcaps;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.product_description {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: black;
    text-transform: smallcaps;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.product_price {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    color: black;
    text-transform: smallcaps;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.product_detail_link {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    color: red;
    text-transform: smallcaps;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.about_page_description {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    color: black;
    text-transform: smallcaps;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.copyright_text {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    color: black;
    text-transform: smallcaps;
    text-decoration: underline;
    letter-spacing: 2px;
    word-spacing: 2px;
}

#welcome_heading_contact_page {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}


#welcome_heading_register_page {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: brown;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}


#welcome_heading_login_page {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: brown;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.form_label {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
    color: maroon;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#contact_description {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: blue;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.cart_item {
    color: blue;
}